In [2]:
from databaseManager import databaseManager
db = databaseManager()

In [3]:
db.createTables()

In [4]:
db.listTables()

('postgres', 'public', 'applicationinfo', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('postgres', 'public', 'sectionsinfo', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('postgres', 'public', 'sectionsapplicants', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('postgres', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('postgres', 'public', 'matchings', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

In [3]:
db.listRows("sectionsApplicants")

Contents of table sectionsApplicants are:
(1, 'Ajolie', 1)
(1, 'chinguun', 2)
(1, '1234', 3)
(1, 'fakepearson', 4)
(1, 'aarushisingh', 5)
(2, 'Ajolie', 1)
(2, 'chinguun', 2)
(2, '1234', 3)
(2, 'fakepearson', 4)
(2, 'aarushisingh', 5)
(3, 'Ajolie', 4)
(3, 'chinguun', 5)
(3, '1234', 1)
(3, 'fakepearson', 2)
(3, 'aarushisingh', 3)
(4, 'Ajolie', 2)
(4, 'chinguun', 5)
(4, '1234', 4)
(4, 'fakepearson', 3)
(4, 'aarushisingh', 1)

In [2]:
db.deleteTables()

In [10]:
db.listRows("matchings")
# (1, 'Ajolie')
# (2, 'chinguun')
# (3, '1234')
# (4, 'fakepearson')
# (4, 'aarushisingh')

Contents of table matchings are:
(1, 'Ajolie')
(2, 'chinguun')
(3, '1234')
(4, 'fakepearson')
(4, 'aarushisingh')

In [4]:
db.addSectionInfo()